div.gallery-picture {
    margin: 5px;
    border: 1px solid #68c768;
    float: left;
    width: 180px;
}
  
div.gallery-picture:hover {
    border: 1px solid #1e2c7c;
}
  
div.gallery-picture img {
    width: 100%;
    height: auto;
}
  
div.description {
    padding: 15px;
    text-align: center;
}